header.header
    ul.header__nav
        li: a(href="./index.html") Главная
        li: a(href="./pedagogprosh.html") Великие педагоги прошлого
        li: a(href="./pedagogbud.html") Великие педагоги настоящего
        li: a(href="./ui.html") Важные даты педагогов и наставников