extends layouts/layout

block body
    .body_main2
        .body2023
            p.text_2023 2023 год Указом Президента России Владимира Путина объявлен Годом педагога и наставника. Миссия Года – признание особого статуса педагогических работников, в том числе выполняющих наставническую деятельность. Мероприятия Года педагога и наставника будут направлены на повышение престижа профессии учителя.
        .body2023_1 
            img.kortinka3(src="./images/putin.png")
            .body2023_2
                p.text_2023_12 <b>Президент Российской федерации Владимир Путин</b>
                p.text_2023_123 "В знак высочайщей общественной значимости профессии учителя 2023 год - год 200-летия со дня рождения одного из основателей российской педагогики Константина Дмитриевича Ушинского - будет посвящен в нашей стране педагогам и наставникам. Будет Год учителя, Год педагога. То, какой должна быть современная школа: её инфраструктура, оснащение, уровень обучения, организация внешкольного образования, кружкой, спортивных секций, - всё это важно. Здесь важен не только труд учителя, но и участие самих учеников и, безусловно, родителей. Потому что только общие дела могут создать школу, в которой интересно учиться, которая притягательна своими возможностями в раскрытии таланта ребят, в подготовке их ко взрослой жизни."
        .body2023_1_1
            img.kortinka3(src="./images/golikova.png")
            .body2023_2
                p.text_2023_12 Заместитель Председателя Правительства Российской Федерации Татьяна Голикова
                p.text_2023_123 "Задача предстоящего Года Педагога и Наставника - не только привлечь внимание к этой профессии и воздать должное уважение нашим учителям и наставникам, но и повысить интерес молодежи к педагогике, привлечь внимание в педагогические вузы творческих, способных, активных абитуриентов, которые после окончания вуза прибудут работать в школы. Год педагога и наставника, безусловно, должен не только сохранить и приумножить лучшие традиции, которые были в советском союзе и есть сейчас в России, но и обрести новые традиции. Важно, чтобы мы с вами, проводя Год педагога и наставника, отчитывались не только теми мероприятиями, которые мы учтем в плане, но и могли качественно измерить результаты, которые даст нам Год. Это и количество вновь привлеченных в школы и средние специальные учебные заведения учителей, и работа по повышению квалификации, и ряд других направлений не только в школе, в среднем специальном учебном заведении или высшем, но и на производстве"
        .body2023_1 
            img.kortinka3(src="./images/kirienko.png")
            .body2023_2
                p.text_2023_12 Первый заместитель Руководителя Администрации Президента Российской Федерации Сергей Кириенко
                p.text_2023_123 "Работа По признанию особого статуса педагогических работников и наставников не начинается и не заканчивается тематическим Годом, она идет уже на протяжении длительного времени и не должна завершиться, когда закончится календарный год. В нашей стране в последние годы, в первую очередь решениями Президента России, последовательно принимаются меры по укреплению авторитета и статуса учителей, педагогов, наставников, а  также меры по их материальной поддержке. Год педагога и наставника - это логичное продолжение последовательной работы, которая реальзуется в стране."