extends layouts/layout

block body
    .les
        swiper-container.korobka
            swiper-slide Педагог — это отчасти психолог, методолог, наставник и друг, который учит предметным навыкам и проводит воспитательную работу. К нему приходят за знаниями, советом и поддержкой. Учитель выполняет важную миссию — он помогает формировать навыки, передает важные знания и мотивирует учащихся к развитию.
            swiper-slide.slide2
                a(href="./2023.html") 2023г - год педагога-наставника!
            swiper-slide.slide2
                a(href="./prasdnik.html") История праздника - день учителя.
    .sitata
        h1.h1 Мудрые высказывания о педагоге
        p.text-sitata Я просматриваю сокровища древних мудрых мужей, которые оставили нам последние в своих сочинениях; и если мы встретим что-либо хорошее, заимствуем и считаем великой для себя прибылью... (Сократ)
            img.kortinka(src="./images/sokrat.png")
        p.text-sitata Вы говорите: дети меня утомляют. Вы правы. Вы поясняете: надо опускаться до их понятий. Опускаться, наклоняться, сгибаться, сжиматься. Ошибаетесь. Ни от того мы устаем, а от того что надо подниматься до их чувств. Подниматься, становиться на цыпочки, тянуться. Чтобы не обидеть.  (Я.Корчак)
            img.kortinka(src="./images/korchyak.png")
        p.text-sitata Для того чтобы обучить другого, требуется больше ума, чем для того, чтобы научиться самому. (М. Монтень)
            img.kortinka(src="./images/monten.png")
        p.text-sitata Доказывать человеку необходимость знания - это все равно, что убеждать его в полезности зрения. (Максим Горький)
            img.kortinka(src="./images/Maxim_Gorky_1926.png")
        p.text-sitata Педагогика - это неблагодарная профессия, все успехи которой можно приписать природе, оставив педагога отдуваться за все неудачи подопечных. (В. Кротов)
            img.kortinka(src="./images/krotov.png") 
            