extends layouts/layout

block body
    .les
            .korobka.swiper
                .swiper-wrapper
                    .swiper-slide.slide2.text_korobka Педагог — это отчасти психолог, методолог, наставник и друг, который учит предметным навыкам и проводит воспитательную работу. К нему приходят за знаниями, советом и поддержкой. Учитель выполняет важную миссию — он помогает формировать навыки, передает важные знания и мотивирует учащихся к развитию.
                    .swiper-slide.slide2
                        a(href="./2023.html") 2023г - год педагога-наставника!
                    .swiper-slide.slide2
                        a(href="./prasdnik.html") История праздника - день учителя.
    .sitata
        h1.h1 Великие цитаты про педагогов
        .sitata_box
            .text-box
                p.text-sitata Учитель должен быть артист, художник, горячо влюблённый в своё дело.
                p.text-sitata2 (Антон Павлович Чехов)
            img.kortinka(src="./images/chehov.jpg")
        .sitata_box
            .text-box
                p.text-sitata Настоящий учитель — не тот, кто тебя постоянно воспитывает, а тот, кто помогает тебе стать самим собой.
                p.text-sitata2 (Михаил Аркадьевич Светлов)
            img.kortinka(src="./images/svetlov.jpg")
        .sitata_box
            .text-box
                p.text-sitata Для того чтобы обучить другого, требуется больше ума, чем для того, чтобы научиться самому.
                p.text-sitata2 (М. Монтень)
            img.kortinka(src="./images/monten.png")
        .sitata_box
            .text-box
                p.text-sitata Самая большая радость для учителя, когда похвалят его ученика.
                p.text-sitata2 (Шарлотта Бронте)
            img.kortinka(src="./images/bronte.jpg")
        .sitata_box
            .text-box
                p.text-sitata Чтобы воспитывать другого, мы должны воспитать прежде всего себя.
                p.text-sitata2 (Николай Васильевич Гоголь)
            img.kortinka(src="./images/gogol.jpg") 
            