extends layouts/shablon 

block vars 
    - var text = "Конфуций"
    - var img = "./images/konfc.png"
    
block content_block 
    -
        var content = [
            "Для Конфуция (Кун-Фу-Цзы - Почетный учитель Кун) целъ воспитания — благородный муж, нравственно воспитанный, образованный, развитый умственно, физически, эстетически, сочетающий в себе глубокие знания и должное поведение.",
            "Конфуций считал, что природное в человеке — материал, из которого при правильном воспитании можно сделать идеальную личность. Стабильность общества покоится на воспитании согласно социальному назначению. «По своей природе люди друг другу близки, а по своим привычкам друг от друга далеки».",
            "Конфуций выдвинул принцип гуманного отношения к людям: «чего себе не пожелаешь, того не делай и другим». «Любить людей по-настоящему, не заинтересованно, не унижая опекой или равнодушием, принимая их такими, какие они есть, помогая развиться всему лучшему в них, но не закрывая глаза на их пороки и слабости».",
            "Конфуций разделял людей по их природным возможностям: во-первых – это «Сыны неба», обладающие врожденной мудростью, другие – это «Благородные мужи», благодаря учению пришедшие к знанию. К третьим он относил «Чернь», не способных, по его мнению, к трудному процессу постижения знаний.",
            "В 523г. до н.э. Конфуций основал первую частную школу в мире «по воспитанию человеческих характеров», начал учительскую деятельность. После его смерти учениками была издана книга Луньюй (Беседы и суждения), где изложены основные взгляды Конфуция. Вначале нашей эры Конфуций стал почитаться наряду с предками и природой, богом, наделенным сверхъестественными качествами.",
            "Основные принципы этико-политического учения (конфуцианства) включают «Шесть искусств»:",
            "1. «ЛИ» - должное поведение в обществе, группе.",
            "2. «И» — умение подчинить долгу себя и окружающих.",
            "3. «СЯО» — сыновья почтительность или должное подчинение старшему (по возрасту, по должности).",
            "4. «ЖЭНЬ» — принцип гуманности, человечности.",
            "5. «ЧЖИ» — знание.",
            "6. «СИНЬ» — верность.",
            "Конфуцианская мораль требует постоянного самосовершенствования, послушания старшим, неукоснительного и строгого соблюдения всех существующих норм и правил.",
            "Ритуал и канон составляют основу воспитания.",
            "Содержание обучения в школе Конфуция составляли: обучение чтению, умению размышлять, словесности, поведению, преданности и доверию. Основной способ обучения — самостоятельно делать «черновую работу»: читать, учить наизусть, размышлять и упражняться в искусстве. Задача учителя заключалась в том, чтобы открывать новую перспективу размышлениям ученика. Сам Конфуций выступал против любой формалистики, «технизма» в обучении: техническое знание, по его мнению, мешает истинному совершенствованию.",
            "Взамен он предлагал следующие методы: диалоги учителя с учениками, классификация и сравнение фактов и явлений, подражание образцам, обучение умению самостоятельно ставить вопросы и искать на них ответы. Многие принципы, выдвинутые Конфуцием, актуальны и сегодня. Это:",
            "— уважение к ученику;",
            "— принятие учеников такими, какие они есть;",
            "— собственный пример — основа воспитания;",
            "— терпимость;",
            "— единство учения и жизни;",
            "— равенство всех людей как учеников;",
            "— отказ от принуждения."
        ]

    each item in content
        p.pedagog_text!=item
    
    