extends layouts/layout

block body
            .body2023_123456
                p.text_2023_1 Мария Монтессори
            .pedagogo_otsp
            .pedagog
                img.kortinka6(src="./images/monte.png")
                .pedagog2
                    p.pedagog_text Мария Монтессори — итальянский педагог и одна из первых женщин-врачей XIX века, которая создала свою педагогическую систему. Монтессори всегда боролась за справедливость — во время работы ассистентом врача психиатрической клиники она много общалась с детьми с особенностями развития и переживала, что ими никто не занимается. А ведь образование нужно всем!  
                    p.pedagog_text Поэтому Мария начала разрабатывать свои методики развития детей. Изначально — только для ребят с задержкой развития. Но, убедившись в успехе своей образовательно-развивающей системы, Мария адаптировала её для всех детей. Она поняла, что классические методы не всегда эффективны. 
                    p.pedagog_text Автор называла свою методику «системой, где ребёнок развивается самостоятельно, опираясь на дидактически подготовленную среду». Ключевой принцип методики Монтессори — «Помоги мне сделать это самому». Он подразумевает, что взрослый разбирается, чем интересуется ребёнок, обеспечивает ему основу для интересных занятий и учит его пользоваться ей. 
                    p.pedagog_text Монтессори — методика раннего развития, но группы всё равно разновозрастные. Старшие дети учат младших, приобретают лидерские черты. Младшие учатся заботиться друг о друге. Формируется взаимопомощь и сотрудничество, хотя иногда и случаются недопонимания.
                    p.pedagog_text Занятия проводятся в специально подготовленной среде. Основы педагогики Монтессори подразумевают, что игровая комната разделена на несколько частей — стандартными считают зоны естествознания, практической жизни, сенсорную, языковую, математическую. Но ещё добавляют творческую, игровую и спортивную. Ребёнок может заниматься там, где ему нравится, даже целый день. Задача педагога — подстроиться под интересы малыша. Важно дать свободу мышления, действий и чувств. Так дети будут учиться всему легко и с удовольствием, без «обязаловки» и соревнований со сверстниками. 
                    p.pedagog_text Взрослый в обучении играет второстепенную роль: он не наставник, а помощник. Задача взрослого — только заинтересовать ребёнка. Педагог общается с детьми, но не навязывает собственное мнение, не подводит ребёнка к желаемым ответам на вопросы.
                    p.pedagog_text Обязательно есть правила, которые помогают упорядочить процессы в монтессори-группе. Например, после прочтения книгу необходимо поставить на место или убрать игрушки туда, откуда малыш их взял. Так детей учат поддерживать порядок.
                    p.pedagog_text Направление на развитие мелкой моторики, чувств: зрение, слух, вкус, обоняние и осязание. Мария Монтессори считала, что аккуратные действия с мелкими предметами формируют интеллект, развивают речь, внимание и память. Поэтому в её системе много деятельности, связанной с нанизыванием предметов, угадыванием их на ощупь и по фактуре, с сортировкой.
                    p.pedagog_text Недопустима критика и запреты. Ребёнок имеет право на ошибку. Он вполне способен дойти до всего сам.
                    p.pedagog_text В ребёнке воспитывается самостоятельность. Все пособия располагаются на полках так, чтобы он мог сам их взять и убрать на место. Все книги в одном экземпляре — таким образом дети учатся договариваться между собой.