extends layouts/layout

block body
    .pedagogprosh12
        a.kartochka(href="./monte.html")
            p.textprosh Мария Монтессори
                img.kortinka2(src="./images/monte.png")
        a.kartochka(href="./krupskay.html")        
            p.textprosh Надежда Крупская
                img.kortinka2(src="./images/krupskay.png")
        a.kartochka(href="./makar.html") 
            p.textprosh А. С. Макаренко
                img.kortinka2(src="./images/makar.png")
    .pedagogprosh123
        a.kartochka(href="./adeida.html")
            p.textprosh А. С. Симонович
                img.kortinka2(src="./images/adeida.png")
        a.kartochka(href="./tixeeva.html")
            p.textprosh Е. И. Тихеева 
                img.kortinka2(src="./images/tixeeva.png")
        a.kartochka(href="./vodovozova.html")
            p.textprosh Е. Н. Водовозова
                img.kortinka2(src="./images/vodovozova.png")
    .pedagogprosh123 
        a.kartochka(href="./gersen.html")
            p.textprosh А.И. Герцен
                img.kortinka2(src="./images/gersen.png")
        a.kartochka(href="./pirogov.html")
            p.textprosh Н.И. Пирогов
                img.kortinka2(src="./images/pirogov.png")
        a.kartochka(href="./yshinskiy.html")
            p.textprosh К.Д. Ушинский
                img.kortinka2(src="./images/yshinskiy.png")
                