extends layouts/layout

block body
    .pedagogprosh12
        p.textprosh Демокрит
            a(href="./demokrit.html")
                img.kortinka2(src="./images/demokrit.png")
        p.textprosh Сократ 
            a(href="./sokrat.html")
                img.kortinka2(src="./images/sokrat.png")
        p.textprosh Платон 
            a(href="./platon.html") 
                img.kortinka2(src="./images/platon.png")
    .pedagogprosh123 
        p.textprosh Аристотель
            a(href="./aristotel.html")
                img.kortinka2(src="./images/aristotel.png")
        P.textprosh Августин 
            a(href="./avgustin.html")
                img.kortinka2(src="./images/avgustin.png")
        p.textprosh Марк Квинтилиан
            a(href="./mark.html")
                img.kortinka2(src="./images/mark.png")
            
                