extends layouts/layout

block body
    .pedagogprosh12
        a.kartochka(href="./demokrit.html")
            p.textprosh Демокрит
                img.kortinka2(src="./images/demokrit.png")
        a.kartochka(href="./sokrat.html")
            p.textprosh Сократ 
                img.kortinka2(src="./images/sokrat.png")
        a.kartochka(href="./platon.html") 
            p.textprosh Платон                 
                img.kortinka2(src="./images/platon.png")
    .pedagogprosh123 
        a.kartochka(href="./aristotel.html")
            p.textprosh Аристотель
                img.kortinka2(src="./images/aristotel.png")
        a.kartochka(href="./avgustin.html")
            P.textprosh Августин 
                img.kortinka2(src="./images/avgustin.png")
        a.kartochka(href="./mark.html")
            p.textprosh Марк Квинтилиан
                img.kortinka2(src="./images/mark.png")
    .pedagogprosh123 
        a.kartochka(href="./konfc.html")
            p.textprosh Конфуций
                img.kortinka2(src="./images/konfc.png")
            
                