extends layouts/layout

block body
    .pedagogprosh12
        p.textprosh Мария Монтессори
            a(href="./monte.html")
                img.kortinka2(src="./images/monte.png")
        p.textprosh Надежда Крупская
            a(href="./krupskay.html")
                img.kortinka2(src="./images/krupskay.png")
        p.textprosh А. С. Макаренко
            a(href="./makar.html") 
                img.kortinka2(src="./images/makar.png")
    .pedagogprosh123 
        p.textprosh А. С. Симонович
            a(href="./adeida.html")
                img.kortinka2(src="./images/adeida.png")
        P.textprosh Е. И. Тихеева 
            a(href="./tixeeva.html")
                img.kortinka2(src="./images/tixeeva.png")
        p.textprosh Е. Н. Водовозова
            a(href="./vodovozova.html")
                img.kortinka2(src="./images/vodovozova.png")