extends layouts/layout

block body
    .body_main23
        .body2023_12345
            p.text_2023 В День учителя мы вспоминаем наших учителей и все лучшее, что было в школьные годы
        .body2023_12345
            img.kortinka3(src="./images/ychitel.png")
        .body2023_1_1
            img.kortinka4(src="./images/denychitela.png")
            .body2023_2 
                p.text_2023_12 Всемирный день учителя
                p.text_2023_123_1 Ежегодно 5 октября в более 100 странах отмечается день учителя, который был учрежден в 1994 году как Всемирный день учителя (World Teaches' Day). Это профессиональный праздник всех учителей, преподавателей и работников сферы образования — день, в который отмечаются роль и заслуги учителей в процессе качественного образования на всех уровнях, а также их неоценимый вклад в развитие общества.
                p.text_2023_123_1 Исторической предпосылкой для учреждения Дня учителя стала состоявшаяся 5 октября 1966 года в Париже Специальная межправительственная конференция о статусе учителей (Special Intergovernmental Conference on the Status of Teachers). В результате представителями ЮНЕСКО и Международной организации труда был подписан документ «Рекомендации, касающиеся статуса учителей» (Recommendation concerning the Status of Teachers).
                p.text_2023_123_1 5 октября 1994 года Всемирный день учителя отмечался впервые, и с тех пор праздничные мероприятия неизменно проходят 5 октября, хотя в некоторых странах этот праздник отмечается в дни близкие к 5 октября. Главное, чтобы празднования не совпали с осенними каникулами в северном полушарии и с весенними каникулами — в южном.
                p.text_2023_123_1 Россия с 1994 года отмечает День учителя по всемирному календарю — 5 октября. Ранее этот профессиональный праздник выпадал на первое воскресенье октября.
                p.text_2023_123_1 В 1995 году Указом президента РФ установлено почетное звание — Заслуженный учитель Российской Федерации, которое в День учителя присваивают педагогам, посвятившим делу воспитания и обучения более 15 лет и внесшим в него значительный вклад.
                p.text_2023_123_1 Каждый из нас, несомненно, имеет свои воспоминания о школьных годах — любимые и нелюбимые (но они просто были строгими) учителя, предметы, которые давались слёта, и те, для экзамена по которым требовалось создание замысловатой вязи шпаргалок. Вспоминаются и школьные товарищи-подруги, с которыми велись разговоры на всевозможные и невозможные темы.