extends layouts/layout

block body
        .body2023_12345
            p.text_2023 Система профтехобразования выполняет важнейшие функции - подготовку квалифицированных рабочих и специалистов для всех отраслей экономики, воспитание молодого поколения.
        .body2023_12345
            img.kortinka32(src="./images/spo2.jpg")

        .body2023_2  
            .body2023_1
                img.kortinka8.img_left(src="./images/spo.jpg")
            div
                p.text_2023_12 День среднего профессионального образования в России
                p.text_2023_123_1 2 октября в России отмечают День среднего профессионального образования, установленный Указом Президента РФ № 496 от 25 июля 2022 года, «в целях развития и популяризации среднего профессионального образования».
                p.text_2023_123_1 Формированию же системы подготовки собственных кадров для развития отечественной промышленности положили начало реформы Петра I, при котором появились первые технические училища. Следующей вехой стал рубеж 19-20 веков, когда в России происходил промышленный переворот. Вот тогда уже оформились принципы, согласно которым после получения теоретических знаний, ученик должен был получить практические навыки работы в той или иной отрасли по определённой специальности. Эту практику он получал на предприятии при кураторстве опытных мастеров. В СССР такую роль выполняли школы фабрично-заводского ученичества, к которым впоследствии присоединились ремесленные и железнодорожные училища. Все эти учреждения по подготовке специалистов для различных отраслей промышленности и вошли в сформированную Указом от 2 октября 1940 года систему трудовых резервов страны.
                p.text_2023_123_1 В конце 1950-х годов все учреждения системы подготовки трудовых резервов были переформированы в профессионально-технические учреждения, для которых были выработаны единообразные принципы подготовки кадров для промышленных предприятий государства.
                p.text_2023_123_1 После реформы 2013 года все учреждения начального профессионального образования были преобразованы в техникумы и колледжи и вошли в структуру среднего профессионального образования.
                p.text_2023_123_1 Восстановление лучших традиций системы профессионального технического образования – одна из важнейших задач, стоящих перед Министерством образования России. Эта работа сопровождается восстановлением системы шефства, которое берут на себя промышленные предприятия. Шефство включает в себя предоставление специалистов для обучения, помощь в создании материально-технической базы и современного оборудования, предоставление рабочих мест выпускникам на льготных условиях и др.
                p.text_2023_123_1 Ежегодно ко Дню среднего профессионального образования в колледжах и техникумах проводятся Дни открытых дверей для будущих учащихся, родителей, ответственных за профориентацию в школах, линейки, торжественные собрания и концерты.