extends layouts/layout

block body
            .body2023_123456
                p.text_2023_1 Сократ
            .pedagogo_otsp
            .pedagog
                img.kortinka6(src="./images/sokrat.png")
                .pedagog2
                    p.pedagog_text Сократ - крупнейший представителем философии софистов. Его главным дидактическим достижением можно назвать майэвтику ("повивальное искусство") – диалектический спор, подводящий к истине посредством продуманных наставником вопросов.
                    p.pedagog_text Суть педагогических суждений Сократа составляет тезис о том, что главной среди жизненных целей человека должно быть нравственное самосовершенствование. Счастье состоит, прежде всего, в устранении противоречия между личным и общественным бытием. И напротив, сосредоточение на личных интересах, противопоставление их интересам своих ближних ведет к душевному разладу и дисгармонии с обществом.
                    p.pedagog_text Сократ - один из основоположников учения о доброй природе человека. Придавая особое значение природной предрасположенности, Сократ видел наиболее верный путь для проявления способностей человека в самопознании: "Кто знает себя, тот знает, что для него полезно, и ясно понимает, что он может и чего он не может".
                    p.pedagog_text Природные способности человека Сократ связывал с правом на образование.
                    p.pedagog_text Учительская деятельность для Сократа была дороже жизни. Когда перед ним встал выбор, сохранить жизнь или отказаться от такой деятельности, Сократ принял яд цикуты.
                    p.pedagog_text Сократ излагал свое учение в любой аудитории, будь то городская площадь или аллеи Ликея. Он один из родоначальников диалектики как метода отыскания истины путем постановки наводящих вопросов - так называемого сократического метода. Главной задачей наставника Сократ считал пробуждение мощных душевных сил ученика. В таком "повивальном искусстве" он видел основное предназначение учителя. Беседы Сократа были направлены на то, чтобы помочь "самозарождению" истины в сознании ученика.