extends layouts/shablon 

block vars 
    - var text = "Л.Н. Толстой"
    - var img = "./images/tolstoy.png"
    
block content_block 
    -
        var content = [ "В 1859 году ещё до отмены крепостного права Толстой деятельно занялся устройством школ в своей Ясной Поляне и во всём Крапивенском уезде.",
        "Яснополянская школа принадлежала к числу оригинальных педагогических экспериментов: в эпоху преклонения перед немецкой педагогической школой Толстой решительно восстал против всякой регламентации и дисциплины в школе. По его мысли всё в преподавании должно быть индивидуально — и учитель, и ученик, и их взаимные отношения. В Яснополянской школе дети сидели, кто где хотел, кто сколько хотел и кто как хотел. Определённой программы преподавания не было. Единственная задача учителя заключалась в том, чтобы заинтересовать класс. Занятия шли успешно. Их вёл сам Толстой при помощи нескольких постоянных учителей и нескольких случайных, из ближайших знакомых и приезжих.",
        "С 1862 года Толстой стал издавать педагогический журнал «Ясная Поляна», где главным сотрудником являлся он сам. Не испытывая призвания издателя, Толстой сумел выпустить только 12 номеров журнала, последние из которых появились с отставанием в 1863 году. Помимо статей теоретических, он написал также ряд рассказов, басен и переложений, адаптированных для начальной школы. Соединённые вместе, педагогические статьи Толстого составили целый том собрания его сочинений. В своё время они остались незамеченными. На социологическую основу идей Толстого об образовании, на то, что Толстой в образованности, науке, искусстве и успехах техники видел только облегчённые и усовершенствованные способы эксплуатации народа высшими классами, никто не обратил внимания. Мало того: из нападок Толстого на европейскую образованность и «прогресс» многие вывели заключение, что Толстой — «консерватор».",
        "Вскоре Толстой оставил занятия педагогикой. Женитьба, рождение собственных детей, планы, связанные с написанием романа «Война и мир», на десять лет отодвинули его педагогические мероприятия. Лишь в начале 1870-х он приступил к созданию собственной «Азбуки» и опубликовал её в 1872 году, а затем выпустил «Новую азбуку» и серию из четырёх «Русских книг для чтения», одобренных в результате долгих мытарств Министерством народного просвещения в качестве пособий для начальных учебных заведений. В начале 1870-х годов учебные занятия в яснополянской школе вновь восстановились на непродолжительное время."
        ]
    each item in content
        p.pedagog_text=item