extends layouts/layout

block body 
    - var list = [   "17 января - Международный день наставничества", "21 января - Международный день аспиранта", "25 января - День студента", "7 февраля - День российского биизнес-образования", "4 марта - Международный день числа (Пи)", "2 мая - Всемирный день астрономии", "22 мая - Международный день биологического разнобразия", "24 мая - День славянской письменности и культуры", "25 мая - День Фиолога", "12 авугста - День физкультурника", "1 сентября - День знаний", "8 сентрября - Международный день распространения грамотности", "26 сентября - День европейских языков", "2 октября - День среднего проф. технического образования в России","5 октября - День учителя",    "9 октября — Всероссийский день чтения", "23 октября – Международный день школьных библиотек", "22 ноября — День словарей и энциклопедий", "26 ноября – Всемирный день информации"]
    .body2023_12345
        p.text_2023 Важные даты для педагогов и наставников
            .body2023_2
                .body2023_1_3
                    .display_none
                        img.kortinka5(src="./images/kalendar.png")
                        img.kortinka5(src="./images/kalendar2.png")
                div
                    each item in list
                        p.text_2023_123= item