extends layouts/layout

block body
    .body_main2323232
        .body2023_12345
            p.text_2023 Важные Даты для педагогов и наставников
        .body2023_1_3
            .display_none
                img.kortinka5(src="./images/kalendar.png")
                img.kortinka5(src="./images/kalendar2.png")
            .body2023_2
                p.text_2023_123 17 января - Международный день наставничества
                p.text_2023_123 21 января - Международный день аспиранта
                p.text_2023_123 25 января - День студента
                p.text_2023_123 7 февраля - День российского биизнес-образования
                p.text_2023_123 19 февраля - День рождения Константина Ушинского
                p.text_2023_123 1 марта - Всемирный день гражданской обороны
                p.text_2023_123 4 марта - Международный день числа "Пи"
                p.text_2023_123 2 мая - Всемирный день астрономии
                p.text_2023_123 22 мая - Международный день биологического разнобразия 
                p.text_2023_123 24 мая - День славянской письменности и культуры
                p.text_2023_123 25 мая - День Фиолога
                p.text_2023_123 12 авугста - День физкультурника
                p.text_2023_123 1 сентября - День знаний
                p.text_2023_123 8 сентрября - Международный день распространения грамотности
                p.text_2023_123 26 сентября - День европейских языков
                p.text_2023_123 