extends layouts/layout

block body
    .vidpedagog
            p.text_2023 Выдающиеся российские педагоги
    .pedagogprosh12
        a.kartochka(href="./pirogov.html")
            p.textprosh Н.И. Пирогов
                img.kortinka2(src="./images/pirogov.png")
        a.kartochka(href="./yshinskiy.html")
            p.textprosh К.Д. ушинский
                img.kortinka2(src="./images/yshinskiy.png")
        a.kartochka(href="./tolstoy.html") 
            p.textprosh Л.Н. Толстой
                img.kortinka2(src="./images/tolstoy.png")
    .pedagogprosh123
        a.kartochka(href="./kapterev.html")
            p.textprosh П.Ф. Каптерев
                img.kortinka2(src="./images/kapterev.png")
        a.kartochka(href="./blonskiy.html")
            p.textprosh П.П. Блонский
                img.kortinka2(src="./images/blonskiy.png")
        a.kartochka(href="./lunacharskiy.html")
            p.textprosh А.В. Луначарский
                img.kortinka2(src="./images/lunacharskiy.png")
    .pedagogprosh123 
        a.kartochka(href="./krupskay.html")        
            p.textprosh Надежда Крупская
                img.kortinka2(src="./images/krupskay.png")
        a.kartochka(href="./makar.html") 
            p.textprosh А. С. Макаренко
                img.kortinka2(src="./images/makar.png")
        a.kartochka(href="./vigotskiy.html")
            p.textprosh Л.С. Выготский
                img.kortinka2(src="./images/vigotskiy.png")