extends layouts/shablon 

block vars 
    - var text = "Л.С. Выготский (1896-1934 гг.)"
    - var img = "./images/vigotskiy.png"

block content_block 
    -
        var content = [ "Ученый считал, что воспитание состоит не в приспособлении ребенка к окружающей среде, а в формировании личности, выходящей за рамки этой среды, как бы смотрящего вперед. При этом ребенка не надо воспитывать извне, он должен самовоспитываться.",
        "Это возможно при правильной организации процесса воспитания. Только личная деятельность ребенка может стать основой воспитания.",
        "Воспитатель должен быть лишь наблюдателем, корректно направлять и регулировать самостоятельную деятельность ребенка в нужные моменты.",
        "Так воспитание становится активным процессом с трех сторон:",
        "ребенок активен (он выполняет самостоятельное действие);",
        "воспитатель активен (он наблюдает и помогает);",
        "среда между ребенком и воспитателем активна.",
        "Воспитание тесно связано с обучением. Оба процесса являются коллективной деятельностью.",
        "Развитие и воспитание особых детей.",
        "Лев Семенович Выготский разработал новую теорию аномального развития ребенка, на которой сейчас базируется дефектология и построена вся практическая коррекционная педагогика. Цель этой теории: социализация особых детей с дефектом, а не изучение самого дефекта. Это была революция в дефектологии.",
        "Он связал специальную коррекционную педагогику с педагогикой нормального ребенка. Ученый считал, что личность особого ребенка формируется так же, как и у обычных детей. Достаточно социально реабилитировать аномального ребенка, и его развитие пойдет по обычному руслу.",
        "Его социальная педагогика должна была помочь ребенку снять отрицательные социальные наслоения, вызванные дефектом. Сам дефект не есть причина аномального развития ребенка, это лишь следствие неправильной социализации.",
        "Исходной точкой в реабилитации особых детей должно стать не затронутое дефектом состояние организма. «С опорой на здоровое, положительное и следует работать с ребенком», -  Л.С. Выготский.",
        "Великий гуманист, Л.С. Выготский, высшее проявление гуманизма видел не в том, чтобы воспитатель, педагог проявляли снисхождения и уступки, ориентируясь в своей работе на дефект, а  наоборот  в том, чтобы они создавали в разумных пределах трудности для глухих детей в процессе их воспитания и обучения, учили преодолевать эти трудности, и тем самым развивали личность, ее здоровые силы. Говоря о специальном воспитании, он подчеркивал: «Здесь нужны закаляющие и мужественные идеи. Наш идеал – не обкладывать больное место ватой и беречь его всеми мерами от ушибов, а открывать преодолению дефекта, его сверхкомпенсации широчайший путь. Для этого нам нужно усвоить социальную направленность этих процессов».",
        "Наряду с общими закономерностями Л.С. Выготский отмечал и своеобразие развития аномального ребенка, которое заключается в расхождении биологического и культурного процессов развития. Заслуга ученого в том, что он указал на тот факт, что развитие нормального и аномального ребенка подчинено одним законам и проходит те же стадии, но стадии растянуты во времени и наличие дефекта дает специфику каждому варианту аномального развития. Помимо нарушенных функций всегда имеются сохранные функции. Коррекционная работа должна строиться с опорой на сохранные функции, в обход пострадавших функций. Л.С. Выготский формулирует принцип коррекционной работы как принцип обходного пути.",
        "Очень эффективной для восстановления нормального развития особых детей стала идея зоны ближайшего развития.",
        "Теория зоны ближайшего развития.",
        "Зона ближайшего развития – это «расстояние» между уровнем актуального и возможного развития ребенка.",
        "Уровень актуального развития – это развитие психики ребенка в данный момент (какие задания могут выполниться самостоятельно).",
        "Зона ближайшего развития – это будущее развитие личности (действия, которые выполняются с помощью взрослого).",
        "Это базируется на предположении, что ребенок, обучаясь какому-то элементарному действию, параллельно осваивает общий принцип этого действия. Во-первых, само это действие имеет уже более широкое применение, чем его элемент. Во-вторых, освоив принцип действия, можно применить его для выполнения другого элемента.",
        "Это будет уже более легкий процесс. Налицо развитие в процессе обучения. Но обучение не тождественно развитию: не всегда обучение подталкивает развитие, наоборот, оно может стать тормозом, если опираться только на то, что дитя умеет, и не учитывается уровень его возможного развития.",
        "Обучение станет развивающим, если ориентироваться на то, чему ребенок может научиться на основе предыдущего опыта.",
        "Величина зоны ближайшего развития у каждого ребенка своя. Это зависит:",
        "от потребностей ребенка;",
        "от его возможностей;",
        "от готовности родителей и учителей оказать помощь в развитии ребенка."
        ]
    each item in content
        p.pedagog_text=item