extends layouts/layout

block body
            .body2023_123456
                p.text_2023_1 Е. Н. Водовозова
            .pedagogo_otsp
            .pedagog
                
                .pedagog2
                    img.kortinka6(src="./images/vodovozova.png")
                    p.pedagog_text Идеи и методические рекомендации Е.Н. Водовозовой, касающиеся отношений взрослых и детей, отлично сочетаются с сегодняшними моделями обучения, построенными на основе гуманистического подхода к образованию. Современные исследователи видят гуманистическую природу педагогической деятельности в воспитании индивидуальности, «очеловечивании» ребёнка, формировании и развитии его как личности, обеспечении непрерывной преемственности поколений.
                    p.pedagog_text Любовь к ближнему, гуманные чувства и сострадание, заложенные в основу педагогической теории Е.Н. Водовозовой, актуальны в современной гуманистической парадигме образования. Научить детей любить – это, по её мнению, первая заповедь в воспитании.
                    p.pedagog_text Е.Н. Водовозова призывала воспитывать в ребёнке такие качества, как забота о людях, любовь к ним, стремление разделить горе и радость товарища, быть чувствительным к горю ближнего, уметь доверяться и доверять другому. Она говорила о важности создания условий для реализации этих качеств в практической деятельности и для свободного развития индивидуальности каждого ребёнка. Самым главным педагог считала «исключить принуждение и насилие над ребёнком», развивать добрые качества, без всяких наказаний.
                    p.pedagog_text Взрослому, работающему с детьми, важно найти что-то положительное в каждом ребёнке, вычленить эту позитивную составляющую и усилить своим доверительным отношением. В качестве мотива любви к детям выступает потребность педагога в самореализации личности ребёнка. Воспитатель должен употреблять все усилия, чтобы внушить ребёнку веру в свои силы, надежду на то, что он всё поймет, всё сделает, если только захочет, добросовестно отнесётся к предпринятому труду и усидчиво поработает над ним».
                    p.pedagog_text Позиция Е.Н. Водовозовой убедительно доказывает преимущество построения отношений с детьми на гуманных началах. Она считает, что старшим необходимо уважительно относиться к любому суждению ребёнка.
                    p.pedagog_text Одним из условий, способствующих продуктивной совместной деятельности, общению и развитию личности в коллективе, Е.Н. Водовозова считала воспитание отношений добра, радости между детьми и между взрослыми и детьми.
                    p.pedagog_text По мнению Е.В. Горбылевой, ценность идей Е.Н. Водовозовой заключается в понимании целостного процесса воспитания и формирования личности, чёткого обозначения задач развития в ребёнке определённой культуры, которая «поможет ему стать личностью, способной глубоко сопереживать и прийти на помощь другому, постоянно познающей себя и способной самоопределиться в жизни сообразно своим способностям и склонностям». 