extends layouts/shablon 

block vars 
    - var text = "К.Д. Ушинский (1823-1871 гг.)"
    - var img = "./images/yshinskiy.png"
    
block content_block 
    -
        var content = [ "Константин Дмитриевич Ушинский (1824–1871) — родоначальник научного подхода к педагогике в России. Родился он в Туле в небогатой дворянской семье отставного офицера, а детство провёл в маленьком уездном городе Новгород-Северский (Украина), где его отец получил назначение на должность судьи. Мать рано умерла, и после её смерти 11-летний Костя большую часть времени был предоставлен сам себе, поэтому сильно пристрастился к чтению и глубоким размышлениям.",
        "Учился Ушинский на юрфаке Московского университета. Там в то время преподавал профессор философии государства и права Пётр Редкин, который, помимо университетской работы, служил инспектором московских частных учебных заведений и был очень увлечён теорией педагогики. Именно Редкин «заразил» Ушинского интересом к педагогике как к науке, которая способна менять людей и общество в целом к лучшему.",
        "После окончания университета Константин Дмитриевич начал преподавать в Демидовском юридическом лицее. Но для тамошней удушливой атмосферы он оказался слишком вольнодумным — и, как бы сейчас сказали, «его ушли». После этого Ушинский какое-то время зарабатывал переводами, стал мелким чиновником, но спустя четыре года вернулся в педагогику, прославился и начал ломать стереотипы.",
        "Ушинский придерживался и последовательно развивал много идей:",
        "Образование должно быть обязательным для всех вне зависимости от сословия. Женщины имеют такое же право на образование, как и мужчины (напомним, в педагогику Ушинский пришёл ещё до отмены крепостного права, а за равные права на образование женщины в Российской империи боролись вплоть до революции 1917 года, так что эти его идеи сильно опередили время).",
        "Педагогика не может опираться лишь на личный опыт учителя, ведь тот может оказаться ошибочным. Она должна опираться на теорию, то есть всестороннее изучение человека и систематизированный опыт. Поэтому педагогические идеи должны развиваться в университете, опираясь на науку. Так, в «Человеке как предмете воспитания» Ушинский подробно описывал не только психологию, но и физиологию человека. Благодаря этому он объяснял, например, почему дети не могут долго заниматься одним монотонным делом и почему обучение для них должно быть наглядным.",
        "Обучение — не механическая зубрёжка, а развитие умственных способностей ученика, наблюдательности, воображения, фантазии, желания и способности дальше приобретать знания самостоятельно. Обучение должно быть сознательным, то есть до учащихся нужно донести, зачем они учатся и чему в итоге научатся.",
        "Обучение должно быть системным и последовательным. От конкретного — к отвлечённому, от знакомого — к незнакомому, от единичного — к сложному, от частного — к общему. В учебном материале нужно определённым образом расположить материал для повторения и практические задачи. Это обеспечит прочность знаний. Важно научить применять знания на практике, оперировать ими в разных ситуациях.",
        "Задача первоначального обучения — сделать серьёзное занятие увлекательным для ребёнка. Но с увлекательностью важно не переборщить. Если превратить вообще всё обучение в игру, то ребёнок не сможет дальше осваивать не очень интересные, но важные знания. Он должен привыкнуть к тому, что обучение — всё-таки труд.",
        "Главная задача педагогики — воспитание нравственности, а не наполнение головы знаниями. Обучение — лишь средство воспитания. Школа должна готовить человека к жизни и труду.",
        "Воспитание должно быть гуманным. Физические наказания и унижения неприемлемы. Воспитание — это убеждение личным примером, а не слепое повиновение.",
        "Воспитание и образование должны учитывать культурные и языковые особенности народа. Однако это не значит, что русская школа должна быть какой-то уникальной, «не как у людей». Законы души и её развития везде одинаковы."
        ]
    each item in content
        p.pedagog_text=item