doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="./css/style.css")

        script(src="./js/script.js" defer="defer") 
        script(src="./js/https___cdn.jsdelivr.net_npm_swiper@9_swiper-element-bundle.min.js")

        title Document
    body
        include ../includes/header
        block body
        include ../includes/footer
