extends layout

block body
    block vars
    .body2023_123456
        p.text_2023_1=text
    .pedagogo_otsp
    .pedagog
                
        .pedagog2
            img.kortinka6(src=img)
            block content_block